<%- include('header') %>
<div class="container">
    <h1>Blockchain Demo: Display some block chain concepts &amp; Signing</h1>

    <p class="pull-right">by <a href="http://andersbrownworth.com/">Yuan tian lin</a>
        1K3NvcuZzVTueHW1qhkG2Cm3viRkh2EXJp</p>
</div>

<%- include('footer') %>